.signup-form {
  max-width: 500px;
  margin: 10% auto;
  display: flex;
  .ta-c {
      text-align: center;
    button {
      &.mat-raised-button {
        width: 100%;
        line-height: 50px;
      }
    }
  }
}
