.app-chats {
  button.msg_send_btn.mat-stroked-button.mat-primary {
    position: absolute;
    right: 0;
    top: 50%;
  }
  .new-joinee {    
    text-align: center;
    margin: 1rem;
    background: rgba(204, 204, 204, 0.25);
    border-radius: 50px;
    box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);
    padding: .5rem;
    color: rgb(29, 92, 162);
  }
}
