<div class="mesgs app-chats">
    <div class="msg_history">
        <ng-container *ngIf="chatList && chatList.length > 0">
        <ng-container *ngFor="let chat of chatList">

        <ng-container *ngIf="userDetails.username !== chat.username">
        
        <div class="incoming_msg">
            <div class="incoming_msg_img">
                <mat-icon color="primary">person</mat-icon>
            </div>
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p>{{chat.message}}</p>
                    <span class="time_date">{{chat.date | date: 'mediumDate'}}</span>
                </div>
            </div>
        </div>
        </ng-container>

        <ng-container *ngIf="userDetails.username === chat.username">

        <div class="outgoing_msg">
            <div class="sent_msg">
                <p>{{chat.message}}</p>
                <span class="time_date">{{chat.date | date: 'mediumDate'}}</span>
            </div>
        </div>
        </ng-container>

    </ng-container>
</ng-container>
    </div>
    <div class="type_msg">
        <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="message" />
            <button class="msg_send_btn" mat-stroked-button color="primary" (click)="sendMessage()">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>
</div>
